body{
    background-color: rgb(255, 175, 147);
}

table{
    border: 5px double black;
}

th{
   font-weight: bold;
   border: 1px solid black;
}

td{
    border: 1px solid black;
}

li{
    list-style-type: none;
    display: inline-flex;
    
}

img{
	width:250px;
}

div{
	float :left;
	width:30%;
	height: 300px;
}